@import '~antd/dist/antd.css';

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.listContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 60px auto;
  grid-template-areas: 
      ". actions ."
      ". list .";
}


.list {
  grid-area: list;
  align-self: center;
  justify-self: center;
  width: 100%;
  margin-bottom: 50px;
}


.actions {
  grid-area: actions;
  align-self: center;
  justify-self: center;
}
